<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Java</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/java-concurrency/latest/">并发</a>
            <a class="navbar-item" href="/byte-buddy-tutorial/latest/">Byte Buddy 教程</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">学习笔记</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/mysql/latest/">MySQL</a>
            <a class="navbar-item" href="/network/latest/">Networking</a>
            <a class="navbar-item" href="/design-patterns/latest/">Design Patterns</a>
          </div>
        </div>
        <a class="navbar-item" href="/martes/latest/">martes</a>
        <a class="navbar-item" href="https://www.diguage.com/">旧博客</a>
      </div>
    </div>
  </nav>
</header>
